*{margin:0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgb(91, 214, 214);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mid{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin-top: -40px;
   
}
.mid h1{
    border: 2px solid blue;
    padding: 30px;
    border-radius: 10px;
    background-color: darkkhaki;
    color: darkred;

}